/* Basic styling */
.about-container {

    padding: 50px 20px;
    background-image: url(../images/19366.jpg);

    background-size: cover;
    text-align: center;
  }
  .skills-container h3 ,.hobbies-container h3{
    font-size: 2rem;
  }
  .about-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
.skills-container{
  width: 100%;
}
 .cv{
  background-color: #a5bbae;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover{
    background-color: #4f5752;
  }
 } 

  a{
    text-decoration: none;
  }
  
  .about-description {
    
    font-size: 1.5rem;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
  }
  
.read-more-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
}

.read-more-button:hover {
  background-color: #0056b3;
}
  /* Hobbies section */
  .hobbies-section {
  
    margin-bottom: 50px;
  }
  
  .skills-list,.hobbies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .skill-item,.hobby-item {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
  }

  .skills-container h4,.hobby-item h4 {
    font-size: 1.5rem;
    color: #ff4e50;
    margin-bottom: 10px;
  }

  .skills-container p,.hobby-item p {
    font-size: 1rem;
    color: #666;
  }
  
  

  @media (max-width: 768px) {
    .about-title {
      font-size: 2rem;
    }
  
    .about-description {
      font-size: 1rem;
    }
  
    .skills-title, .hobbies-title {
      font-size: 1.8rem;
    }
  }
  
  @media (max-width: 480px) {
    .about-title {
      font-size: 1.8rem;
    }
  
    .skills-list, .hobbies-list {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .skill-item, .hobby-item {
      padding: 15px;
      font-size: 0.9rem;
    }
  }